/javascript/objects/introduction/nested-object-destructuring.md
/javascript/objects/introduction/looping-through-arrays-of-objects-continue.md
/javascript/objects/introduction/exiting-a-loop-with-break.md
/javascript/objects/introduction/looping-through-an-array-of-objects-forEach.md
/javascript/objects/introduction/looping-through-an-array-of-objects-for-loop.md